.student-dashboard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* border: 1px solid black; */
  height: inherit;
}
.student-dashboard > div {
  width: 47%;
  /* border: 1px solid black; */
  padding: 45px;
}

.student-dashboard .student-leftside,
.student-dashboard .student-rightside {
  padding: 45px;

  /* border: 1px solid black; */
}
.student-dashboard .student-leftside p {
  font-size: 15px;
}
.student-dashboard .student-leftside i {
  font-size: 14px;
}
.student-dashboard .student-leftside h3,
.student-dashboard .student-rightside h3 {
  text-align: center;
  font-size: 14px;
}
.student-leftside .added-class {
  /* border: 1px solid black; */
  box-shadow: 0px 0px 3px #cccccc;
  border-radius: 6px;
  margin-top: 40px;
  padding: 18px;
  height: 60vh;
  overflow: auto;
}

.student-leftside .added-class > div {
  /* border: 1px solid black; */
  margin: 20px;
  padding: 16px;
  box-shadow: 0px 0px 5px #cccccc;
  border-radius: 6px;
  border-left: 3px solid #1a8bd6;
}
.student-leftside .added-class > div > p {
  margin-bottom: 6px;
}

.student-dashboard .student-rightside > div {
  box-shadow: 0px 0px 3px #cccccc;
  border-radius: 6px;
  margin-top: 10px;
  padding: 20px;
  height: 73vh;
  width: 90%;
  margin: auto;
  overflow: auto;
}
.student-dashboard .student-rightside > div > div {
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 5px #cccccc;
  border-radius: 6px;
  border-left: 3px solid #1a8bd6;
}

.student-dashboard .student-rightside form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.student-rightside form h3 {
  text-align: center;
}
.student-rightside form label {
  margin-top: 20px;
  margin-bottom: 8px;
}
.student-rightside form input,
.student-rightside form select {
  height: 35px;
  outline: none;
  padding: 8px;
  border-radius: 6px;
  border: 0.5px solid #bdbdbd;
}
/* .student-rightside form .time {
  width: 50%;
  display: flex;
  justify-content: space-between;
} */
/* .student-rightside form .time input {
  width: 45%;
} */

/*




for message 






*/

.student-leftside .message-side {
  box-shadow: 0px 0px 3px #b1b1b1;
  border-radius: 6px;
  margin-top: 40px;
  padding: 20px;
  height: 61vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-leftside .message-side .btn {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.student-leftside .message-side button {
  text-align: center;
  margin-top: 0;
  border-radius: 4px;
  width: 40%;
  font-size: 11px;
  background-color: #051d2c;
}

.student-leftside .message-side .messages {
  margin-top: 20px;
  width: 95%;
  height: 100%;
  border-radius: 2px;
  overflow: auto;
  border-top: 0.5px solid #c2c2c2;
}
.message-side .messages > div {
  margin: 20px;
  padding: 16px;
  box-shadow: 0px 0px 5px #cccccc;
  border-radius: 6px;
  border-left: 3px solid #1a8bd6;
}

.message-side .messages p {
  font-size: 14px;
}

.student-rightside .create-message .btn {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 20px;
}
.student-rightside .create-message .btn button {
  text-align: center;
  margin-top: 0;
  border-radius: 4px;
  width: 40%;
  font-size: 11px;
  background-color: #051d2c;
  padding: 9px;
}

/*

download

*/

.downloadable {
  width: 40%;
  margin: auto;
  margin-top: 0px;
  height: 66vh;
}
.student-leftside .assignment {
  height: 60vh;
}
/*

for assignment

*/

.added-class .icon {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .student-dashboard .student-leftside h2 {
    font-size: 15px;
  }
  .student-leftside .added-class > div {
    /* border: 1px solid black; */
    margin: 15px;
    padding: 15px;
  }
  .student-leftside .added-class > div > p {
    font-size: 14px;
  }
  .student-dashboard .student-rightside > div {
    height: 73vh;
    width: 100%;
  }
  .student-leftside .message-side .btn {
    width: 60%;
  }
  .student-rightside .create-message .btn {
    width: 90%;
  }
  .downloadable {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .student-dashboard > div {
    width: 50%;
  }
  .student-dashboard .student-leftside,
  .student-dashboard .student-rightside {
    padding: 40px;
  }
  .downloadable {
    width: 70%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 750px) {
  .student-dashboard .student-leftside,
  .student-dashboard .student-rightside {
    padding: 20px;
  }
  .student-dashboard .student-leftside h2,
  .student-dashboard .student-leftside > p {
    font-size: 14px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 720px) {
  .student-dashboard .student-leftside,
  .student-dashboard .student-rightside {
    padding: 0px;
    /* border: 1px solid black; */
  }
  .student-dashboard {
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
  }
  .student-dashboard > div {
    width: 80%;
    /* border: 1px solid black; */
  }
  .student-leftside .added-class {
    height: 70vh;
    padding: 10px;
  }
  .student-dashboard .student-rightside > div {
    width: 100%;
    margin-bottom: 70px;
    height: auto;
  }
  .student-dashboard .student-rightside > div > div {
    padding: 15px;
    margin: 10px;
  }

  .student-leftside .message-side {
    height: 70vh;
  }
  .student-rightside form h3 {
    font-size: 14px;
    font-weight: 300;
  }
  .student-rightside {
    margin: 10px auto 50px;
  }
  .downloadable button {
    width: 50%;
    font-size: 12px;
  }
  .student-leftside .assignment {
    height: 55vh;
  }
}

@media screen and (max-width: 430px) {
  .student-leftside .message-side {
    padding: 10px;
  }
  .student-leftside .message-side .messages {
    width: 100%;
  }
  .student-rightside .create-message .btn {
    width: 100%;
  }
  .downloadable {
    width: 90%;
  }
}
